body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Navigation Bar */
  
  #home {
    background-color:  #223e85;
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    height: 10mm;
   }

  .topmenu {
    color: black;
    flex: auto;
    margin: 10px;
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
    align-content: right;
    bottom: -15px;
    float: right;
  }

  /*
  .dropdown {
    float: right;
    overflow: hidden;
    padding: 13px;
    margin-left: -100%;
  }

  .dropdown .drop-button {
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(214, 226, 124);
    padding: 2%;
    background-color: #223e85;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(214, 226, 124);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
  }

  .dropdown-content a {
    float: none;
    color: rgb(214, 226, 124);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    color: white;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
    */
  
  .topmenu:hover {
    color: white;
    font-weight: bolder;
    text-decoration: underline;
  }

  .topdiv {
    position: absolute;
    right: 5%;
    margin: 1%;
  }

  .topdiv .topmenu {
    color: rgb(214, 226, 124);
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
    bottom: -10px;
    float: right;
    display: block;
    align-content: right;
  }
  
  .profile_name {
    float: left;
    padding-left: 2cm;
    color: rgb(214, 226, 124);
    font-size: 20px;
    align-content: center;
    margin: 1px;
    position: relative;
    bottom: 40%;
  }
  
  .profile_name .contact_info {
    font-size: 15px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .contact_info img {
    width:25px;
    margin-right: 10px;
    float:left;
    padding-top: 5px;
  }

  .contact_info a {
    font-size: 17px;
    position: relative;
    top: 3px;
    font-style: normal;
  }

  .mygithub img{
    width: 25px;
    margin-right: 10px;
    float: left;
    padding-top: 5px;
  }

  .mygithub a {
    font-size: 17px;
    position: relative;
    top: 5px;
  }

  .profile_image {
    border-radius: 200%;
  }

  .about {
    height: fit-content;
  }

  /*
  #salesforce-org {
    margin-right: 10px;
    padding-top: 5px;
    float: left;
    
  }
    */
  
  /* Titles */
  
  h2 {
    text-align: justify;
    font-size: 50px;
    text-align: center;
    float: left;
    color: #223e85;
    margin: 30px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  
  .introduction {
    text-align: justify;
    font-size: 30px;
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
    animation-duration: 5s;
    position: relative;
  }
  
  /* Used in the About Me sections */
  
  .container {
    display: inline-block;
  }
  
  /* About Me */
  
  .about-me {
    display: flex;
    align-items: left;
    display: inline-block;
  }
  
  #about-me h1 {
    display: flex;
    font-size: 65px;
    margin-top: 5px;
    color: #223e85;
  }
  
  #about-me p {
    font-size: 25px;
    color: rgb(128, 128, 128);
    margin-top: -1cm;
  }
  
  .profile_image {
    width: 550px;
    height: fit-content;
    vertical-align: middle;
    margin: 5px;
    align-items: left;
    float: left;
  }
  
  /* Skills */
  
  .all_skills {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }

  .skills2 {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }
  
  .skill {
    border: 1px solid gray;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    box-shadow: 0 3px 10px gray;
  }
  
  .skill img {
    height: 35px;
    align-items: center;
  }
  
  .skills h6 {
    align-items: center;
    font-size: 20px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
  } 
  
  .skills p {
    align-items: center;
    font-size: 15px;
    color: gray;
    margin-block-start: 5px;
    margin-block-end: 5px;
  } 
  
  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Projects */
  
  .projects-container {
    margin-top: 30px;
    margin-left: 60px;
  }

  .experience-container {
    margin-top: 30px;
    margin-left: 60px;
  }
  
  .projects-container hr {
    border: 1px solid lightgray;
    width: 75%;
    margin-left: 5cm;
  }

  .experience-container hr {
    border: 1px solid lightgray;
    width: 75%;
    margin-left: 5cm;
  }
  
  .project-card {
    margin: 0 15px 15px 30px;
    padding-bottom: 5px;
  }

  .experience-card {
    margin: 0 15px 15px 30px;
    padding-bottom: 5px;
  }
  
  .project-card h3 {
    font-size: 25px;
    margin-left: 30px;
  }

  .experience-card h3 {
    font-size: 25px;
    margin-left: 30px;
  }
  
  .project-card li {
    font-size: 20px;
    margin-left: 30px;
  }

  .experience-card li {
    font-size: 20px;
    margin-left: 30px;
  }
  
  /* Recommendations */
  
  .all_recommendations {
    display: flex;
    align-items: center;
    margin-left: 3.25in;
    flex-direction: row;
    flex-flow: wrap;
    padding: 20px;
  }
  
  .recommendation {
    font-style: italic;
    text-align: left;
    width: 21.875rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
    border:1px solid gray;
    font-size: 18px;
    height:150px
  }
  
  .recommendation span {
    color: #223e85;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Scroll to Top Button */
  
  .iconbutton{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #223e85;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
  }
  
  /* Form Pop-up */
  
  .popup {
    width:400px;
    background-color: #e8bcf0;
    border-radius: 3mm;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    position: fixed;
    /* padding: 30px; */
    visibility: hidden;
  }
  
  .popup img {
    padding-top: 20px;
  }
  
  .popup button {
    background-color: #fff;
    border: 1px solid #223e85;
    color: #223e85;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    margin-left: 25%;
  }
  
  .popup button:hover {
    background-color: #fff;
    border: 2px solid #223e85;
    color: #223e85;
    display: block;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    margin-left: 25%;
  }
  
  /* Recommendation Form */
  
  input, textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin: 10px;  
    width:100%;
  }
  
  fieldset {
    display: flexbox;
    align-content: center;
    justify-content: center;  
    padding: 25px; 
    margin-left: 50px; 
    margin-right: 50px;   
    border: thin solid white;
    width: 50%;
  }
  
  /* Buttons */
  
  button {
    background-color: #fff;
    border: 1px solid #223e85;
    color: #223e85;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #223e85;
    border: 1px solid #223e85;
    color: #fff;
    display: block;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
  }

  a:link {
    color: orange;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: orange;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: none;
  }

  a:active {
    color: rgb(214, 226, 124);
    background-color: transparent;
    text-decoration: none;
  }

  /* Certifications */
  .ibm {
    float: left;
    width: 50%;
    padding: 5px;
  }

  .sf-cert {
    float: left;
    width: 30%;
    padding: 5px;
  }

  .clicked {
    float: right;
    width: 48%;
    padding: 14px;
  }

  .pab-cert {
    float: left;
    width: 30%;
    padding: 5px;
  }

  .pd1-cert {
    float: left;
    width: 30%;
    padding: 5px;
  }

  .jira {
    float: left;
    width: 30%;
    padding: 5px;
  }

  .salesforce {
    content: "";
    clear: both;
    display: flex;
    flex-flow: row;
    width: 50%;
    float: inline-start;
    margin: 1%;
  }

  .other {
    width: 50%;
    flex-flow: row;
    display: flex;
    float: inline-start;
    margin: 1%;
  }

  .other::after {
    content: "";
    clear: both;
    display: table;
  }

  .resume-link {
    text-align: center;
    font-size: 25px;
  }

  .resume {
    text-align: center;
    font-size: 50px;
  }

  .resume-file {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Projects */